<h1 style="text-align: center;color: blue;"><u>Student Details</u></h1>
<hr>
<form action="" method="post">
<div style="text-align: center;color: black;">
    <label class="form-contol">Student Name : </label> 
    <input id="sname" type="text" [(ngModel)]="sname" class="form-contol" name="sname" />
    <br><br>
    <label class="form-contol">Student Enrollment Number : </label>
    <input id="eno" type="text" class="form-contol" name="eno" />
    <br><br>
    <label class="form-contol">Marks 1 : </label>
    <input id="m1" type="number" class="form-contol" name="m1" />
    <br><br>
    <label class="form-contol">Marks 2 : </label>
    <input id="m2" type="number" class="form-contol" name="m2" />
    <br><br>
    <label class="form-contol">Marks 3 : </label> 
    <input id="m3" type="number" class="form-contol" name="m3" />
    <br><br>

    <hr>
    <input type="submit" class="form-control" value="Submit" />
</div>
</form>
{{sname}}
